@import "compass/css3";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:before, :after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: url('http://abload.de/img/walltyueb.png') #321;
}

.shaft {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 100%;
  background: rgba(0,0,0,.3);
  box-shadow: inset 0 0 10px rgba(0,0,0,.5);
  overflow: hidden;
}

.shaft:nth-child(1) {
  margin-left: -130px;
}

.shaft:nth-child(2) {
  margin-left: 30px;
}

.cable {
  width: 10px;
  height: 100%;
  margin: 0 auto;
  border-left: 3px solid rgba(0,0,0,.3);
  border-right: 3px solid rgba(0,0,0,.3);
}

.elevator {
  $color: #251b0b;
  position: absolute;
  left: 50%;
  width: 80px;
  height: 120px;
  margin-left: -40px;
  border: 2px solid darken($color, 6%);
  border-radius: 2px;
  background: linear-gradient(to bottom, $color 0%, darken($color, 5%) 100%);
}

.shaft:nth-child(1) .elevator {
  top: -30%;
  animation: 9s elevator1 linear infinite alternate;
}

.shaft:nth-child(2) .elevator {
  top: 120%;
  animation: 6s elevator2 linear infinite alternate;
}

.door {
  width: 1px;
  height: 100%;
  margin: 0 auto;
  background: #000;
}

.light {
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(255,255,180);
  box-shadow:
    0 0 10px rgba(255,255,180,1),
    0 0 70px 15px rgba(255,255,180,.5)
    ;
}

.light:nth-child(2) {
  left: auto;
  right: 0;
}

@keyframes elevator1 {
  0% {
    top: -30%;
  }
  100% {
    top: 120%;
  }
}

@keyframes elevator2 {
  0% {
    top: 120%;
  }
  100% {
    top: -30%;
  }
}